
/*----- RESET ----- */
*{ border:none; outline:none; font-family: 'PT Sans', sans-serif;}
a {text-decoration:none;}
ul{list-style: none;}
body{background-color: black;}
html {scroll-behavior: smooth;}

/*LAYOUT*/
.container-fluid{width: 100%; height:600px;color:white;}
.menu{font-size:22px;color: white; letter-spacing: 1.5px;font-weight: 600;}
.menu:hover{font-size:22px;color: white; letter-spacing: 1.5px;font-weight: 600;}

/*     ✱✱✱✱✱✱✱SECTION NAV ✱✱✱✱✱✱✱      */
#edit{background-color: black;padding: 15px;}
#botao{font-size:22px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 160px;}
.contato-nav{ margin-left: 150px;}
.menu.active{color:yellow;}


/*     ✱✱✱✱✱✱✱SECTION 1 - BANNER ✱✱✱✱✱✱✱      */
.cont_1{background-color:black;padding-top: 320px;height: 850px;}
#title_banner{font-size: 66px;letter-spacing: 7px;}
#subtitle_banner{font-size: 33px;margin-left: 27em;}
#info_banner{font-size:38px;padding-top: 175px;}
#arrow{width: 20px;padding-top: 15px;}
#arrow_1{margin-left: 0em;}
#sociais{width:60px;padding-top: 15px;float:right;}
#cont-arrow{display: inline;}


/*     ✱✱✱✱✱✱✱SECTION 2 - QUEM SOMOS ✱✱✱✱✱✱✱     */      
/*QUEM SOMOS */
#quemsomos{height:2000px;}


/*HR*/
#aahr{display:flex;}
.txt_ahr{padding-left:110px;}
.ahr{width:80px;height: 5px;background-color:white;margin-left: -200px;margin-top: 35px;}
#abhr{display:flex;}
#achr{display: flex;}

#adhr{display:flex;}

.cont_2{background-color:black;height: 650px;padding-top:150px;margin-top: 15px; text-align: left;}
#title_quemsomos{letter-spacing: 3px;font-size:52px;}
#subtitle_quemsomos{font-size: 20px;text-align: justify;letter-spacing: 2;margin-right: 200px;}
.quemsomos{text-justify: auto;}
/*FOTO - PARTICIPANTES*/
#title_quemsomos_1{letter-spacing: 3px;font-size:52px;padding-bottom: 25px;}
#fig{font-size:20px;color: white;}
.quemsomos_1{text-justify: auto;padding-top: 220px;}
.rounded-circle{width: 200px;padding: 17px;}
.rounded-circle:hover{width: 205px;}
.img_participantes{padding-bottom: 220px;padding: 25px;}

/*     ✱✱✱✱✱✱✱SECTION 3 - MISSÃO VISÃO E VALORES ✱✱✱✱✱✱✱     */   
#title-mmv{letter-spacing: 3px;font-size:52px;}
.cardd{background-color: white;width: 380px;height:300px;border-radius:30px;-webkit-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);-moz-box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);box-shadow: 10px 10px 6px 0px rgba(181,181,181,0.54);margin-left: 200px;margin-top:120px;padding:15px;}
.cardd:hover{width: 395px;height:310px;}
#title_card{color:black;font-size:44px;letter-spacing: 3px;padding: 15px;}
.header_card{color:black;font-size:18px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
          
.card_1{margin-left:210px;margin-top:50px;}
.card-mvv_1:hover{border:solid yellow;}
          
.card_2{margin-left:225px;margin-top:120px;}
.card-mvv_2:hover{border:solid yellow;}

/*     ✱✱✱✱✱✱✱SECTION 4 - SERVIÇOS ✱✱✱✱✱✱✱     */   
#servicos{margin-bottom: 100px;margin-top:100px;}
.title-servicos{font-size:38px;padding-bottom:15px;letter-spacing: 1px;}
.subtitle-servicos{font-size:25px;}
.cont_3{height: 650px;padding-top:150px;margin-top: 15px; text-align: left;}
.servicos{text-justify: auto;}
.servicos-card{margin:150px;width:455px;height:210px;}
.um{margin-left:70px;}
.dois{margin-left:150px;}
.tres{margin-left:200px;}

/*     ✱✱✱✱✱✱✱SECTION 5 - CONTATO ✱✱✱✱✱✱✱     */   
.title-contato{font-size:45px;padding-bottom:15px;letter-spacing: 1.5px;text-align:center;padding-bottom: 10px;}
.subtitle-contato{font-size:28px;text-align:center;letter-spacing: 1.5px;}
.container-formulario{margin-left: 250px;background-color:black;width:550px; padding: 20px;border: 3px solid white; border-radius: 25px;}
#contato{height: 500px;margin-bottom: 100px;}
#title-forms{color:white;}
#btn-form{background-color: yellow; border-radius:25px; width: 100%;font-size:20px;}
textarea {resize: none;}
.form-label {
	font-size: px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}


.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}

/*     ✱✱✱✱✱✱✱SECTION 6 - FOOTER ✱✱✱✱✱✱✱     */   
.container-footer{margin-bottom: 30px;background-color:;}
#footer_logo{width:260px;padding: 11px;}
#subtitle_footer{font-size: 27px;letter-spacing: 1.8px;color:white;padding-top: 0px;padding-bottom: 15px;}












/*
      ✱✱✱✱✱✱✱ᴍᴇᴅɪᴀ ǫᴜᴇʀɪᴇs✱✱✱✱✱✱✱
*/

@media screen and (min-width:120px){
/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color:black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{margin-left:0px;margin-top: 15px;}

/*SECTION 1 - BANNER*/
.cont_1{background-color:black;padding-top: 180px;height: 620px;}
#title_banner{font-size: 36px;letter-spacing: 7px;}
#subtitle_banner{font-size: 20px;margin-left: 1em;padding-top: 5px;}
#info_banner{font-size:28px;padding-top: 115px;}
#arrow{width: 50px;;padding-top: 15px;}
#arrow_1{margin-left: 0em;}
#sociais{display:none;width:60px;padding-top: 15px;float:right;}
#cont-arrow{display: inline;}

/*SECTION 2 - QUEM SOMOS */
.cont_2{background-color:black;height: 580px;padding-top:10px; text-align: left;}
#title_quemsomos{font-size:32px;}
#subtitle_quemsomos{font-size: 17px;text-align: justify;letter-spacing: 2;}
.quemsomos{text-justify: auto;padding-left:0em;}

    /*FOTO - PARTICIPANTES*/
#title_quemsomos_1{font-size:32px;padding-bottom: 25px;}
#fig{font-size:20px;color: white;}
.quemsomos_1{text-justify: auto;padding-top: 115px;}
.rounded-circle{width: 200px;padding: 17px;}
.img_participantes{padding-bottom: 115px;}
    
/*MISÃO VISAO E VALORES
 #title_quemsomos_2{font-size:32px;padding-bottom: 25px;}
.card-mvv{background-color: white;width: 290px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left: 0px;margin-top:50px;}
.card-mvv:hover{border:solid yellow;}
.title_card{color:black;font-size:15px;letter-spacing: 1px;padding: 15px;}
.header_card{color:black;font-size:15px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
    
.card-mvv_1{background-color: white;width: 290px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:0px;margin-top:60px;}
.card-mvv_1:hover{border:solid yellow;}
    
.card-mvv_2{background-color: white;width: 290px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:0px;margin-top:60px;}
.card-mvv_2:hover{border:solid yellow;}*/

}


@media screen and (min-width:375px){
/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{ margin-top:15px;}

/*SECTION 1 - BANNER*/
.cont_1{background-color:black;padding-top: 180px;height: 620px;}
#title_banner{font-size: 36px;letter-spacing: 7px;}
#subtitle_banner{font-size: 10px;margin-left: 1em;padding-top: 5px;}
#info_banner{font-size:28px;padding-top: 115px;}
#arrow{width: 50px;;padding-top: 15px;}
#arrow_1{margin-left: 0em;}
#sociais{display:none;width:60px;padding-top: 15px;float:right;}
#cont-arrow{display: inline;}

/*SECTION 2 - QUEM SOMOS */
.cont_2{background-color:black;height: 580px;padding-top:120px; text-align: left;}
#title_quemsomos{font-size:35px;}
#subtitle_quemsomos{font-size: 17px;text-align: justify;letter-spacing: 2;}
.quemsomos{text-justify: auto;padding-left:1em;}

    /*FOTO - PARTICIPANTES*/
#title_quemsomos_1{font-size:35px;padding-bottom: 25px;}
    /*MISÃO VISAO E VALORES*/
#title_quemsomos_2{font-size:32px;padding-bottom: 25px;}

}


@media screen and (min-width:414px){
/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{ margin-left:0px;margin-top: 15px;}

/*SECTION 1 - BANNER*/
.cont_1{background-color:black;padding-top: 180px;height: 610px;}
#title_banner{font-size: 36px;letter-spacing: 7px;}
#subtitle_banner{font-size: 20px;margin-left: 1em;padding-top: 5px;}
#info_banner{font-size:28px;padding-top: 105px;}
#arrow{width: 50px;;padding-top: 15px;}
#arrow_1{margin-left: 0em;}
#sociais{display:none;width:60px;padding-top: 15px;float:right;}
#cont-arrow{display: inline;}


/*SECTION 2 - QUEM SOMOS */
.cont_2{background-color:black;height: 580px;padding-top:120px; text-align: left;}
#title_quemsomos{font-size:37px;}
#subtitle_quemsomos{font-size: 19px;text-align: justify;letter-spacing: 2;}
.quemsomos{text-justify: auto;padding-left:1em}


/*FOTO - PARTICIPANTES*/
#title_quemsomos_1{font-size:37px;padding-bottom: 25px;}
/*MISÃO VISAO E VALORES*/
#title_quemsomos_2{font-size:37px;padding-bottom: 25px;}
}


@media screen and (min-width:456px){
/*SECTION 2 - QUEM SOMOS */
.cont_2{background-color:black;height: 580px;padding-top:120px; text-align: left;}
#title_quemsomos{font-size:37px;}
#subtitle_quemsomos{font-size: 19px;text-align: justify;letter-spacing: 2;}
.quemsomos{text-justify: auto;padding-left:5em;margin-right: 50px;}
}


@media screen and (min-width:550px){
/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{margin-left:0px;margin-top: 15px;}

/*SECTION 1 - BANNER*/
.cont_1{background-color:black;padding-top: 180px;height: 610px;}
#title_banner{font-size: 38px;letter-spacing: 7px;}
#subtitle_banner{font-size: 23px;margin-left: 1em;padding-top: 5px;}
#info_banner{font-size:28px;padding-top: 105px;}
#arrow{width: 50px;;padding-top: 15px;}
#arrow_1{margin-left: 0em;}
#sociais{display:none;width:60px;padding-top: 15px;float:right;}
#cont-arrow{display: inline;}

/*SECTION 2 - QUEM SOMOS */
.cont_2{background-color:black;height: 580px;padding-top:120px; text-align: left;}
#title_quemsomos{font-size:45px;}
#subtitle_quemsomos{font-size: 17px;text-align: justify;letter-spacing: 2;}
.quemsomos{text-justify: auto;padding-left:5em;margin-right: 60px;}

    /*FOTO - PARTICIPANTES*/
#title_quemsomos_1{font-size:45px;padding-bottom: 25px;}
#fig{font-size:20px;color: white;}
.quemsomos_1{text-justify: auto;padding-top: 115px;}
.rounded-circle{width: 200px;padding: 17px;}
.img_participantes{padding-bottom: 115px;}
        
             /*MISÃO VISAO E VALORES
#title_quemsomos_2{font-size:45px;padding-bottom: 25px;}
.card-mvv{background-color: white;width: 320px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left: 0px;margin-top:50px;}
.card-mvv:hover{border:solid yellow;}
.title_card{color:black;font-size:21px;letter-spacing: 1px;padding: 15px;}
.header_card{color:black;font-size:16px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
        
.card-mvv_1{background-color: white;width: 320px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:0px;margin-top:60px;}
.card-mvv_1:hover{border:solid yellow;}
        
.card-mvv_2{background-color: white;width: 320px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:0px;margin-top:60px;}
.card-mvv_2:hover{border:solid yellow;}*/
}



@media screen and (min-width:700px){
/*SECTION 1 - BANNER*/
.cont_1{background-color:black;padding-top: 180px;height: 570px;}
#title_banner{font-size: 38px;letter-spacing: 7px;}
#subtitle_banner{font-size: 23px;margin-left: 1em;padding-top: 5px;}
#info_banner{font-size:28px;padding-top: 90px;}
#arrow{width: 50px;;padding-top: 15px;}
#arrow_1{margin-left: 0em;}
#sociais{display:none;width:60px;padding-top: 15px;float:right;}
#cont-arrow{display: inline;}

/*SECTION 2 - QUEM SOMOS */
.cont_2{background-color:black;height: 580px;padding-top:120px; text-align: left;}
#title_quemsomos{font-size:50px;}
#subtitle_quemsomos{font-size: 22px;text-align: justify;letter-spacing: 2;}
.quemsomos{text-justify: auto;padding-left:6em;margin-right: 110px;}

    /*FOTO - PARTICIPANTES*/
#title_quemsomos_1{font-size:50px;padding-bottom: 25px;}
#fig{font-size:20px;color: white;}
.quemsomos_1{text-justify: auto;padding-top: 115px;}
.rounded-circle{width: 200px;padding: 17px;}
.img_participantes{padding-bottom: 115px;}
        
 /*MISÃO VISAO E VALORES
 #title_quemsomos_2{font-size:50px;padding-bottom: 25px;}
 .card-mvv{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left: 0%;margin-top:50px;}
 .card-mvv:hover{border:solid yellow;}
 .title_card{color:black;font-size:25px;letter-spacing: 1px;padding: 15px;}
 .header_card{color:black;font-size:16px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
          
 .card-mvv_1{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:0%;margin-top:60px;}
 .card-mvv_1:hover{border:solid yellow;}
          
 .card-mvv_2{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:0%;margin-top:60px;}
 .card-mvv_2:hover{border:solid yellow;} */
}


@media screen and (min-width:760px)
{
 /*MISÃO VISAO E VALORES
 #title_quemsomos_2{font-size:50px;padding-bottom: 25px;}
 .card-mvv{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left: 0%;margin-top:50px;}
 .card-mvv:hover{border:solid yellow;}
 .title_card{color:black;font-size:25px;letter-spacing: 1px;padding: 15px;}
 .header_card{color:black;font-size:16px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
          
 .card-mvv_1{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:0%;margin-top:60px;}
 .card-mvv_1:hover{border:solid yellow;}
          
 .card-mvv_2{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:0%;margin-top:60px;}
 .card-mvv_2:hover{border:solid yellow;}  */       
 }  

 @media screen and (min-width:850px)
 {
 /*MISÃO VISAO E VALORES
#title_quemsomos_2{font-size:50px;padding-bottom: 25px;}
.card-mvv{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left: 10%;margin-top:50px;}
.card-mvv:hover{border:solid yellow;}
.title_card{color:black;font-size:25px;letter-spacing: 1px;padding: 15px;}
.header_card{color:black;font-size:16px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
         
.card-mvv_1{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:10%;margin-top:60px;}
.card-mvv_1:hover{border:solid yellow;}
         
.card-mvv_2{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:10%;margin-top:60px;}
.card-mvv_2:hover{border:solid yellow;}*/
  }  
 
@media screen and (min-width:990px){
/*CONTAINER QUEM SOMOS*/      
#quemsomos{background-color: red;height:2800px;} 
/*SECTION NAV*/
#edit{background-color: black;padding: 0px;}
#botao{font-size:17px;color: black;letter-spacing: 1px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 120px;}
.contato-nav{margin-left:0px;margin-top: 2px;}

/*SECTION 1 - BANNER*/
.cont_1{background-color:black;padding-top: 180px;height: 550px;}
#title_banner{font-size: 38px;letter-spacing: 7px;}
#subtitle_banner{font-size: 23px;margin-left: 1em;padding-top: 5px;}
#info_banner{font-size:28px;padding-top: 105px;}
#arrow{width: 50px;;padding-top: 15px;}
#arrow_1{margin-left: 0em;}
#sociais{width:60px;padding-top: 15px;float:right;}
#cont-arrow{display: inline;}

/*SECTION 2 - QUEM SOMOS */
.cont_2{background-color:black;height: 580px;padding-top:120px; text-align: left;}
#title_quemsomos{font-size:58px;}
#subtitle_quemsomos{font-size: 25px;text-align: justify;letter-spacing: 2;}
.quemsomos{text-justify: auto;padding-left:8em;margin-right: 180px;}


/*FOTO - PARTICIPANTES*/
#title_quemsomos_1{font-size:58px;padding-bottom: 25px;}

 /*MISÃO VISAO E VALORES
#title_quemsomos_2{font-size:58px;padding-bottom: 25px;}
.card-mvv{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left: 10%;margin-top:50px;}
.card-mvv:hover{border:solid yellow;}
.title_card{color:black;font-size:25px;letter-spacing: 1px;padding: 15px;}
.header_card{color:black;font-size:16px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
         
.card-mvv_1{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:10%;margin-top:60px;}
.card-mvv_1:hover{border:solid yellow;}
         
.card-mvv_2{background-color: white;width: 450px;height:220px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:10%;margin-top:60px;}
.card-mvv_2:hover{border:solid yellow;}*/
}
@media screen and (min-width:997px){
/*CONTAINER QUEM SOMOS*/      
#quemsomos{background-color: red;height:2400px;}     
}
@media screen and (max-width:1170px){
#aahr{display:flex;}
.txt_ahr{padding-left:0px;}
.ahr{width:80px;height: 5px;background-color:white;margin-left: -200px;margin-top: 35px;display:none;}
#abhr{display:flex;}
#achr{display: flex;}
 }

 @media screen and (min-width:1140px){
/*CONTAINER QUEM SOMOS*/      
#quemsomos{background-color: red;height:2400px;} 
/*MISÃO VISAO E VALORES
#title_quemsomos_2{font-size:58px;padding-bottom: 25px;}
.card-mvv{background-color: white;width: 454px;height:270px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:20%;margin-top:50px;}
.card-mvv:hover{border:solid yellow;}
.title_card{color:black;font-size:28px;letter-spacing: 1px;padding: 15px;}
.header_card{color:black;font-size:20px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
              
.card-mvv_1{background-color: white;width: 454px;height:270px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:20%;margin-top:60px;}
.card-mvv_1:hover{border:solid yellow;}
              
.card-mvv_2{background-color: white;width: 454px;height:270px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:20%;margin-top:60px;}
.card-mvv_2:hover{border:solid yellow;}*/
 }

 @media screen and (min-width:1171px){
/*CONTAINER QUEM SOMOS*/      
#quemsomos{background-color: red;height:2400px;} 
/*MISÃO VISAO E VALORES
#title_quemsomos_2{font-size:58px;padding-bottom: 25px;}
.card-mvv{background-color: white;width: 405px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:20%;margin-top:50px;}
.card-mvv:hover{border:solid yellow;}
.title_card{color:black;font-size:18px;letter-spacing: 1px;padding: 15px;}
.header_card{color:black;font-size:15px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
          
.card-mvv_1{background-color: white;width: 405px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:20%;margin-top:60px;}
.card-mvv_1:hover{border:solid yellow;}
          
.card-mvv_2{background-color: white;width: 405px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:20%;margin-top:60px;}
.card-mvv_2:hover{border:solid yellow;}*/
}
    
     

@media screen and (min-width:1200px){
/*CONTAINER QUEM SOMOS*/      
#quemsomos{background-color: red;height:1890px;} 
/*SECTION NAV*/
#edit{background-color: black;padding: 25px;}
#botao{font-size:22px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 160px;}
.contato-nav{ margin-left: 150px;}

/*SECTION 1 - BANNER*/
.cont_1{background-color:black;padding-top: 320px;height: 850px;}
#title_banner{font-size: 66px;letter-spacing: 7px;}
#subtitle_banner{font-size: 33px;margin-left: 0em;}
#info_banner{font-size:38px;padding-top: 175px;}
#arrow{width: 80px;;padding-top: 15px;}
#arrow_1{margin-left: 0em;}
#sociaiss{width:40px;padding-top: 15px;padding-right:0em;padding-left:9px;}
#sociaiss_footer{width: 40px;padding-top:15px;}


/*SECTION 2 - QUEM SOMOS */
#aahr{display:flex;}
.txt_ahr{padding-left:80px;}
.ahr{width:120px;height: 5px;background-color:white;margin-left: -200px;margin-top: 35px;}
#abhr{display:flex;}
#achr{display: flex;}

.cont_2{background-color:black;height: 650px;padding-top:150px;margin-top: 15px; text-align: left;}
#title_quemsomos{font-size:62px;}
#subtitle_quemsomos{font-size: 30px;text-align: justify;letter-spacing: 2;}
.quemsomos{text-justify: auto;}



/*FOTO - PARTICIPANTES*/
#title_quemsomos_1{font-size:62px;padding-bottom: 25px;}

 /*MISÃO VISAO E VALORES
 #title_quemsomos_2{font-size:62px;padding-bottom: 25px;}
 .card-mvv{background-color: white;width: 255px;height:250px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left: 0px;margin-top:120px;}
 .card-mvv:hover{border:solid yellow;}
 .title_card{color:black;font-size:18px;letter-spacing: 1px;padding: 15px;}
 .header_card{color:black;font-size:15px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
           
 .card-mvv_1{background-color: white;width: 255px;height:250px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:80px;margin-top:50px;}
 .card-mvv_1:hover{border:solid yellow;}
           
 .card-mvv_2{background-color: white;width: 280px;height:250px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:160px;margin-top:120px;}
 .card-mvv_2:hover{border:solid yellow;}*/
  }


  @media screen and (min-width:1300px){
 /*CONTAINER QUEM SOMOS*/      
#quemsomos{background-color: red;height:1800px;}      
 /*MISÃO VISAO E VALORES
 #title_quemsomos_2{font-size:58px;padding-bottom: 25px;}
 .card-mvv{background-color: white;width: 335px;height:250px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left: 0px;margin-top:120px;}
 .card-mvv:hover{border:solid yellow;}
 .title_card{color:black;font-size:23px;letter-spacing: 1px;padding: 15px;}
 .header_card{color:black;font-size:18px;letter-spacing: 1px;text-align:justify;padding:0px 20px 20px 20px;}
           
 .card-mvv_1{background-color: white;width: 335px;height:250px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:120px;margin-top:50px;}
 .card-mvv_1:hover{border:solid yellow;}
           
 .card-mvv_2{background-color: white;width: 335px;height:250px;border-radius:10px;-webkit-box-shadow: 7px 11px 8px 0px grey;-moz-box-shadow:7px 11px 8px 0px grey;box-shadow:7px 11px 8px 0px grey;margin-left:250px;margin-top:120px;}
 .card-mvv_2:hover{border:solid yellow;}*/
  }
 
  @media screen and (min-width:1400px){
/*CONTAINER QUEM SOMOS*/      
#quemsomos{background-color: red;height:1800px;}      
/*MISÃO VISAO E VALORES*/
#title_quemsomos_2{font-size:58px;padding-bottom: 25px;}

}


@media screen and (min-width:1500px){
/*CONTAINER QUEM SOMOS*/
#quemsomos{background-color: black;height:1800px;}
#sociais{width:60px;padding-top: 15px;float:right;}
}

@media screen and (min-width:1800px){
    /*QUEM SOMOS */
#quemsomos{height:2000px;}

/*FOTO - PARTICIPANTES*/
#title_quemsomos_1{letter-spacing: 3px;font-size:52px;padding-bottom: 25px;}
#fig{font-size:20px;color: white;}
.quemsomos_1{text-justify: auto;padding-top: 220px;}
.rounded-circle{width: 200px;padding: 17px;}.img_participantes{padding-bottom: 220px;}


    
     
}


