/*----- RESET ----- */
*{ border:none; outline:none; font-family: 'PT Sans', sans-serif;}
a {text-decoration:none;}
ul{list-style: none;}
body{background-color: black;}
html {scroll-behavior: smooth;}

/*LAYOUT*/
.container-fluid{width: 100%; height:600px;color:white;}
.menu{font-size:22px;color: white; letter-spacing: 1.5px;font-weight: 600;}

/*SECTION NAV*/
#edit{background-color: black;padding: 15px;}
#botao{font-size:22px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 160px;}
.contato-nav{ margin-left: 150px;}

/*SECTION 1 - BANNER*/
.cont_1{background-color:black;padding-top: 280px;height: 650px;}
#title_banner{font-size: 61px;letter-spacing: 7px;}
#subtitle_banner{font-size: 31px;margin-left: 27em;}
#info_banner{font-size:28px;padding-top: 90px;}
#arrow{width: 80px;;padding-top: 15px;}
#arrow_1{margin-left: 11em;}
#sociais{width:60px;padding-top: 15px;float:right;}
#cont-arrow{display: inline;}

/*SECTION 2 - QUEM SOMOS */
.cont_2{background-color:black;height: 650px;padding-top:150px;margin-top: 15px;}
#title_quemsomos{font-size:58px;}
#subtitle_quemsomos{font-size: 28px;}

/* -------- MEDIA TYPES  -------- */
/*SMALL DEVICES*/ /*SECTION 1 - PALCO*/
@media screen and (min-width:120px){
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color:black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{margin-left:0px;margin-top: 15px;}

}
@media screen and (min-width:375px){
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{ margin-top:15px;}
 
}
@media screen and (min-width:414px){
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{ margin-left:0px;margin-top: 15px;}

}
@media screen and (min-width:550px){
#edit{background-color: black;padding: 15px;}
#botao{font-size:19px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 180px;}
.contato-nav{margin-left:0px;margin-top: 15px;}
}
@media screen and (min-width:990px){
    #edit{background-color: black;padding: 0px;}
    #botao{font-size:17px;color: black;letter-spacing: 1px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 120px;}
    .contato-nav{margin-left:0px;margin-top: 2px;}
}
@media screen and (min-width:1200px){
    #edit{background-color: black;padding: 25px;}
#botao{font-size:22px;color: black;letter-spacing: 1.5px;font-weight: 600;padding:7px;border-radius: 50px;background-color: yellow; border: 1px solid yellow;width: 160px;}
.contato-nav{ margin-left: 150px;}
}
